body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: peachpuff;
  padding: 30px;
  text-align: center;
  margin: auto;
  color: #EEEEEE;
}


.two {
  background: lightblue;
  padding: 30px;
  border: 2px dotted aqua;
 margin: auto;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  padding: 30px;
  margin: auto;
}